
@{ ViewBag.Title = "About";
   Layout = "~/Views/Shared/_LayoutShop.cshtml"; }

<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">About Us</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>LEO SHOP</h2>
                        <p class="large">
                            Dịch vụ shop nhanh nhất với giá tốt nhất!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about_blog">
            <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
                <div class="full text_align_left">
                    <h3>Giới thiệu</h3>
                    <p>LEO xuất hiện trên thị trường từ đầu năm 2021, LEO mang sức mạnh của một thương hiệu local brand đầy cá tính với những sản phẩm thời trang hàng đầu xu thế. Dirtycoins thực chất là một cách lồng ghép khéo léo về sự ra đời của thương hiệu. Chữ Y trên đồng tiền tượng trưng cho tiền thân của Dirtycoins, The Yars Shop.</p>
                    <ul>
                        <li><i class="fa fa-check-circle"></i>Tạo cho khách hàng sự tin tưởng</li>
                        <li><i class="fa fa-check-circle"></i>Tạo sự hài lòng cho khách hàng</li>
                        <li><i class="fa fa-check-circle"></i>Dịch vụ sản phẩm tốt</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
                <div class="full text_align_center"> <img class="img-responsive" src="~/Content/img/it_service/HDpurple.jpg" alt="#" /> </div>
            </div>
        </div>

    </div>
</div>
<!-- end section -->
<!-- section -->
<!-- end section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>CEO & FOUNDER & STAFF</h2>
                        <p class="large">
                            Các chuyên gia của chúng tôi đã được giới thiệu trên báo chí nhiều lần.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="full team_blog_colum">
                    <div class="it_team_img"> <img class="img-responsive" src="~/Content/img/it_service/model2.jpg" alt="#"> </div>
                    <div class="team_feature_head">
                        <h4>ĐÀO KHÁNH MINH</h4>
                    </div>
                    <div class="team_feature_social">
                        <div class="social_icon">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="full team_blog_colum">
                    <div class="it_team_img"> <img class="img-responsive" src="~/Content/img/it_service/profile2.png" alt="#"> </div>
                    <div class="team_feature_head">
                        <h4>NGUYỄN ĐỨC CÔNG KHOA</h4>
                    </div>
                    <div class="team_feature_social">
                        <div class="social_icon">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="full team_blog_colum">
                    <div class="it_team_img"> <img class="img-responsive" src="~/Content/img/it_service/profile1.png" alt="#"> </div>
                    <div class="team_feature_head">
                        <h4>TRƯƠNG TÍN</h4>
                    </div>
                    <div class="team_feature_social">
                        <div class="social_icon">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="full team_blog_colum">
                    <div class="it_team_img"> <img class="img-responsive" src="~/Content/img/it_service/profile3.png" alt="#"> </div>
                    <div class="team_feature_head">
                        <h4>HOÀNG THÁI KHA</h4>
                    </div>
                    <div class="team_feature_social">
                        <div class="social_icon">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

