
@{ ViewBag.Title = "Home Dark";
   Layout = "~/Views/Shared/_LayoutDark.cshtml"; 
}

<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Best Seller</h2>
                        <p class="large">Chúng tôi đóng gói các sản phẩm với dịch vụ tốt nhất để làm cho bạn một khách hàng hài lòng.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/vasity2.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Embroidered Varsity Jacket - Yellow/Black</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">790.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/cardigan1.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Cardigan Print</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">550.000VNĐ</span>-<span class="new_price">490.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/cardigan2.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Print Cardigan - Cream/Green</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">550.000VNĐ</span>-<span class="new_price">490.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/varsity1.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Embroidered Varsity Jacket - White/Red</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">790.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><a class="btn main_bt" href="#" style="margin-left: 500px;">Xem Thêm</a></p>
    </div>
</div>
<!-- end section -->
<!-- section -->
<img src="~/Content/img/it_service/section_banner_27a8c.jpg" alt="" width="1600px">
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Sản Phẩm</h2>
                        <p class="large">Chúng tôi đóng gói các sản phẩm với dịch vụ tốt nhất để làm cho bạn một khách hàng hài lòng.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/jacket1.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Embroidered Varsity Jacket - Red/Black</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">790.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/1tshirt.jpg" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Basic Tee V4</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">450.000VNĐ</span>-<span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/y1.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Y Basic T-Shirt - White</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">450.000VNĐ</span>-<span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/y3.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Y Basic T-Shirt - Mint</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">450.000VNĐ</span>-<span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/y4.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Y Basic T-Shirt - Black</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="old_price">450.000VNĐ</span>-<span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/Short1.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Fukyba Basketball Shorts</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/Short2.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Multicolor Monogram Shorts - White</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">390.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/Short3.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">RYG Paisley Short</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">490.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/shirt2.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Patchwork Bandana Shirt - Moss Grey</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">490.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/shirt3.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">Patchwork Bandana Shirt - Mars Red</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">490.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/backpack1.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">DirtyCoins x 16Typh Backpack - Beige</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">900.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/backpack1.png" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4><a href="it_shop_detail.html">DirtyCoins x 16Typh Backpack - Tan</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p><span class="new_price">900.000VNĐ</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><a class="btn main_bt" href="#" style="margin-left: 500px;">Xem Thêm</a></p>
    </div>
</div>
<!-- end section -->
<img src="~/Content/img/it_service/slide-img17a8c.jpg" alt="" width="1600px">
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout right_gross_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_right">
                        <h2>Feedback</h2>
                        <p class="large">Feedback của khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row counter">
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                        <div class="text_align_right"><i class="fa fa-smile-o"></i></div>
                        <div class="text_align_right">
                            <p class="counter-heading text_align_right">Hài Lòng Khách Hàng</p>
                        </div>
                        <h5 class="counter-count">2150</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                        <div class="text_align_right"><i class="fa fa-laptop"></i></div>
                        <div class="text_align_right">
                            <p class="counter-heading text_align_right">Feedback trên Laptop</p>
                        </div>
                        <h5 class="counter-count">1280</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                        <div class="text_align_right"><i class="fa fa-desktop"></i></div>
                        <div class="text_align_right">
                            <p class="counter-heading">Feedback trên PC</p>
                        </div>
                        <h5 class="counter-count">848</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                        <div class="text_align_right"><i class="fa fa-mobile-phone"></i></div>
                        <div class="text_align_right">
                            <p class="counter-heading">Feedback Điện Thoại</p>
                        </div>
                        <h5 class="counter-count">450</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
