<style>
    sup{
        margin-left: 27px;
        margin-top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 22px;
        background-color: blue;
    }
</style>
<li>
    <a href="@Url.Action("Cart","Cart")">
        <i class="fa fa-shopping-cart fa-2x">  <sup>@ViewBag.TongSoLuong</sup></i>
    </a>
</li>
