
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <img src="~/Content/img/fevicon/success.png" alt="" width="100px;"/>
                        <h2>Đặt Hàng Thành Công</h2>
                        <p class="center">
                            <a href="@Url.Action("Index","Home")"><button type="button" class="bt_main" style="font-family: Tahoma">Tiếp Tục Mua Hàng</button></a></td>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


